APP_ENV=prod
CLOUD_API_V2_BASE_URL=https://your-prod-api.example.com
LEGACY_CLOUD_API_URL=https://fcms.uxi.rocks
IOS_STORE_URL=
ANDROID_STORE_URL=https://play.google.com/store/apps/details?id=rocks.uxi.fcmscloud
